* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    position: relative;
    padding-bottom: 400px;
    min-height: 100vh;
}

main {
    min-height: calc(100vh - 398.6px - 439.3px);
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #20BDFF, blue);
    padding: 0 !important;
}

.navbar-brand img {
    height: 70px;
    padding-left: 10px;
}

.navbar-nav li {
    padding: 0 10px;
}

    .navbar-nav li a {
        color: white !important;
        font-weight: 300;
        float: right;
        text-align: left;
    }

        .navbar-nav li a:hover {
            text-shadow: 0 0 10px black;
        }

.fa-bars {
    color: white;
    font-size: 30px !important;
}

.navbar-toggler {
    border: 0 !important;
}


/*Banner section*/

#banner {
    background-image: linear-gradient(to right, #20BDFF, blue);
    color: white;
    padding-top: 5%;
    margin-bottom: -100px;
}

#bannerForContent {
    background-image: linear-gradient(to right, #20BDFF, blue);
    color: white;
    padding-top: 5%;
    margin-bottom: 30px;
}

#banner-wave-img {
    width: 100%;
}

.promo-title {
    font-size: 40px;
    font-weight: 3 00;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.search-field {
    height: 40px;
    padding: 20px;
    margin-right: 15px;
    border: none;
    border-radius: 25px;
    outline: none;
}

.keyword {
    width: 500px;
}

.location {
    width: 200px;
}

.item-type {
    width: 200px;
}

.item-types_dropdown {
    padding: 08px;
    margin-right: 15px;
    border: none;
    border-radius: 25px;
}

.search-btn {
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 25px;
    color: black;
    background: #ffeb3b;
}

    .search-btn:hover {
        background: #ffc107;
        cursor: pointer;
        outline: none;
        border: none;
    }

.col-md-12 {
    margin-bottom: 30px;
}


/* Services section */

#services {
    padding: 80px 0;
}

.services-img {
    width: 180px;
    margin-top: 20px;
}

.services {
    padding: 20px;
}

    .services h4 {
        padding: 5px;
        margin-top: 25px;
        text-transform: uppercase;
    }

    .services p {
        text-align: justify;
    }

.title::after {
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
}

#services .btn-primary {
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    transition: .5s;
    background: #101cb9;
}

    #services .btn-primary:hover {
        transform: translate(0, -7px);
        background-image: linear-gradient(to right, #05d5ff, #53f);
    }


/* about section */

#about {
    background: #f8f9fa;
    padding-top: 50px;
}

.about-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

#about ul li {
    margin: 10px 0;
}

#about ul {
    margin-left: 20px;
}
.image-fluid {
    width: 614px;
    height: 463px;
}

/* testimonials section */

#testimonials {
    padding-bottom: 50px;
    padding-top: 50px;
}
.testimonials-sub-heading {
    margin-top: 20px;
}

.testimonials {
    border-left: 4px solid #101cb9;
    margin-top: 20px;
    margin-bottom: 50px;
}

    .testimonials img {
        height: 100px;
        widows: 1000px;
        border-radius: 100%;
        margin: 0 10px;
    }

.user-details {
    display: inline-block;
    font-size: 12px;
}


/* social media section */

#social-media {
    background: #f8f9fa;
    padding: 50px 0;
}

    #social-media a {
        text-align: center;
    }

    #social-media p {
        font-size: 36px;
        font-weight: 600px;
        margin-bottom: 30px;
        align-items: center;
    }

    #social-media img {
        width: 100px;
        height: 100px;
    }

.social-icons .fa {
    font-size: 70px;
    line-height: 110px;
    transition: .5s;
    color: #000000;
}

    .social-icons .fa:hover {
        color: white;
    }

.social-icons a {
    display: inherit;
    width: 110px;
    height: 110x;
    position: relative;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: .5s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

    .social-icons a:hover {
        transform: translate(0, -10px);
    }

    .social-icons a:hover {
        background-color: #101cb9;
    }


/* footer section */

#footer {
    background-image: linear-gradient(to right, #20BDFF, blue);
    color: white;
    bottom: 0;
    width: 100%;
    position: absolute;
}

#footer-wave-img {
    width: 100%;
}

.footer-box {
    padding: 20px;
}

.footer-box-contact {
    margin-left: 300px;
}

.footer-box img {
    width: 250px;
    height: 70px;
    margin-bottom: 20px;
}

.footer-mailto {
    color: white;
}

.footer-mailto:hover {
    color:#ffeb3b;
}

.footer-box-contact .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #05d5ff, #53f);
}

.footer-box .form-control {
    box-shadow: none !important;
    border: none;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary {
    box-shadow: none;
    border: none;
    margin-top: 10px;
    background-image: linear-gradient(to right, #05d5ff, #53f);
}

hr {
    background-color: white;
}

.copyright {
    margin-bottom: 0px;
    padding-bottom: 20px;
    text-align: center;
}

.validation-messages {
    color: red;
}
/* item card section */
.item-card_body::before,
.item-card_body::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item-card_body img {
    width: 100%;
}

.item-card_body {
    width: 100%;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0 1.5rem;
    resize: both;
}

.item-card {
    width: 100%;
    max-width: 90rem;
    margin-left: 10vh;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
}

.item-card_img {
    min-width: 18rem;
    max-width: 18rem;
    height: 18rem;
    transform: translateX(-5rem);
    position: relative;
}

    .item-card_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 0.8rem;
    }

    .item-card_img::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
        border-radius: 0.8rem;
    }

.item-card_date span {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.543m 0;
}

.item-card_title {
    font-size: 1.8rem;
    margin: 1.5rem 0 1rem;
    text-transform: uppercase;
    color: #4facfe;
}

.item-card_text {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, .7)
}

.item-card_btn {
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 25px;
    color: white;
    background: #101cb9;
    margin-bottom: 1rem;
    font-size: 1rem;
}

    .item-card_btn:hover {
        background-image: linear-gradient(to right, #05d5ff, #53f);
        color: white;
    }

@media screen and (max-width: 868px) {
    .item-card {
        max-width: 70rem;
    }
}

@media screen and (max-width: 768px) {
    .item-card {
        padding: 2.5rem;
        flex-direction: column;
    }

    .item-card_img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}
