@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ErrorPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}
<div class="success-page col-md-auto">
    <br />
    @Model.FirstLineText
    <hr />
    @Model.SecondLineText
</div>