@inherits Umbraco.Web.Mvc.UmbracoViewPage<TreasureRoom.Models.HomeContentModel>
@{
    Layout = "Master.cshtml";
}

<title>Treasure Room: Lost and Found in the UK</title>

@Html.Partial("~/Views/Partials/Banner.cshtml")
@Html.Partial("~/Views/Partials/Services.cshtml")
@Html.Partial("~/Views/Partials/AboutUs.cshtml")
@Html.Partial("~/Views/Partials/Testimonials.cshtml")
