@inherits Umbraco.Web.Mvc.UmbracoViewPage

	@{
	Layout = "Master.cshtml";

	}

	@* the fun starts here *@

	@Html.Partial("~/Views/Partials/Banner.cshtml")

	@Html.Partial("~/Views/Partials/Services.cshtml")
	
	@Html.Partial("~/Views/Partials/AboutUs.cshtml")
	
	@Html.Partial("~/Views/Partials/Testimonials.cshtml")
	<!-- social media section -->
	<section id="social-media">
		<div class="container text-center">
			<div class="col-md- 5 contact">
				<p>FIND US ON SOCIAL MEDIA</p>
				<div class="social-icons">
					<a href="#"><i class="fa fa-envelope"></i></a>
				</div>
			</div>
		</div>
	</section>
