@inherits Umbraco.Web.Mvc.UmbracoViewPage<TreasureRoom.Models.LostElectronicContentModel>
@{
    Layout = "Master.cshtml";
}

<title>Treasure Room UK: Post about a lost electronic item</title>

@Html.Partial("~/Views/Partials/LostElectronicForm.cshtml", Model.LostElectronicViewModel)