@inherits Umbraco.Web.Mvc.UmbracoViewPage<TreasureRoom.Models.LostPurseContentModel>
@{
    Layout = "Master.cshtml";
}

<title>Treasure Room UK: Post about a lost purse</title>

@Html.Partial("~/Views/Partials/LostPurseForm.cshtml", Model.LostPurseViewModel)