@inherits Umbraco.Web.Mvc.UmbracoViewPage<TreasureRoom.Models.LostFashionAccessoryContentModel>
@{
    Layout = "Master.cshtml";
}

<title>Treasure Room UK: Post about a lost fashion accessory item</title>

@Html.Partial("~/Views/Partials/LostFashionAccessoryForm.cshtml", Model.LostFashionAccessoryViewModel)