@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.RetrieveSuccessPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<title>Treasure Room UK: Success in retrieving lost item</title>

<div class="success-page col-md-auto">
    <br />
    @Model.FirstLineText
    <hr />
    @Model.SecondLineText
</div>