@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.SuccessPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<title>Treasure Room UK: Success Page</title>

<div class="success-page col-md-auto">
    <br/>
    @Model.FirstLineText
    <hr/>
    @Model.SecondLineText
</div>