@inherits Umbraco.Web.Mvc.UmbracoViewPage 

<section id="about">
    <div class="container">
        <h1 class="title text-center">WHY CHOOSE US?</h1>
        <div class="row">
            <div class="col-md-6 about">
                <p class="about-title">
                    Why we are different than other websites
                </p>
                <ul>
                    <li>
                        Believe in doing business with honesty
                    </li>
                    <li>
                        Believe in doing business with honesty
                    </li>
                    <li>
                        Believe in doing business with honesty
                    </li>
                    <li>
                        Believe in doing business with honesty
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="" class="image-fluid">
            </div>
        </div>
    </div>
</section>
