@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Home>

    <!--banner section-->
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="promo-title">@Model.Title</p>
                    <input type="text" class="search-field keyword" placeholder="@Model.SearchBar1">
                    <input type="text" class="search-field location" placeholder="@Model.SearchBar2">
                    <input type="text" class="search-field location" placeholder="@Model.SearchBar3">
                    <button class="search-btn" type="button">Search</button>
                </div>
            </div>
        </div>
        </div>
        <img src="images/BannerWave.png" id="banner-wave-img">
    </section>
