@inherits UmbracoViewPage<TreasureRoom.Models.ViewModel.DeleteItemViewModel>

@using (Html.BeginUmbracoForm("DeleteForm", "DeleteItemSurface", FormMethod.Post))
{
    <div class="container post-form_body">
        <br />
        <div class="col-md-auto">
            <h3>@Html.Raw("Please enter your key to delete the post: ")</h3>
            <hr />
        </div>
        <div class="form-group col-md-3">
            <div class="post-title-show"><h5>@Html.LabelFor(m => m.EditID)</h5></div>
            <div class="input-group">
                @Html.EditorFor(m => m.EditID, new { htmlAttributes = new { @class = "post-searchfield", placeholder = "Key" } })

            </div>
            @Html.ValidationMessageFor(m => m.EditID, String.Empty, new { @class = "validation-messages" })
        </div>
        <div class="form-group">
            <div class="col-md-auto">
                <button id="Submit" class="search-btn">Delete</button>
            </div>
        </div>
    </div>
}
