@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;

<section id="footer">
    <img src="/images/FooterWave.png" id="footer-wave-img">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-box">
                <img src="/images/TreasureRoom-Logo.png">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
            </div>
            <div class="col-md-4 footer-box">
                <p><b>CONTACT</b></p>
                <p><i class="fa fa-map-marker"></i> London, United Kingdom</p>
                <p><i class="fa fa-phone"></i> +44 1234567891</p>
                <p><i class="fa fa-envelope-o"></i> 1721964@brunel.ac.uk</p>
            </div>
            <div class="col-md-4 footer-box">
                <p><b>SUBSCRIBE NEWSLETTER</b></p>
                <input type="email" class="form-control" placeholder="Your Email">
                <button type="button" class="btn btn-primary">Subscribe</button>
            </div>
        </div>
        <hr>
        <p class="copyright">Website implemented by Aryan Dang</p>
    </div>
</section>