@inherits UmbracoViewPage<TreasureRoom.Models.ViewModel.PostViewModel>

@using (Html.BeginUmbracoForm("SubmitForm", "PostSurface", FormMethod.Post))
{
    <div class="container post-form_body">
        <br />
        <div class="col-md-auto">
            <h3>@Html.Raw("Please select the item type you would like to post about:")</h3>
            <hr />
        </div>
        <div class="form-group col-md-3">
            <div class="post-title-show"><h5>@Html.LabelFor(m => m.ItemType)</h5></div>
            <div class="input-group">
                @Html.DropDownListFor(m => m.ItemType, new SelectList(Model.ItemTypesData, "ItemType", "ItemType"), "Select...", new { @class = "item-types_dropdown-post", @id = "item-type-dropdown" })
            </div>
            @Html.ValidationMessageFor(m => m.ItemType, String.Empty, new { @class = "validation-messages" })
        </div>
        <div class="form-group">
            <div class="col-md-auto">
                <button id="Submit" class="search-btn">Submit</button>
            </div>
        </div>
    </div>
}
