

    <input type="text" class="search-field keyword" placeholder="Keywords or Image">
    <input type="text" class="search-field location" placeholder="Postcode">
    <input type="text" class="search-field location" placeholder="Item Type">
    <button class="search-btn" type="button">Search</button>
