@inherits Umbraco.Web.Mvc.UmbracoViewPage
<form method="POST" action="http://treasureroom.web.local/search/">
    <input type="text" class="search-field keyword" name="Keyword" placeholder="Keywords">
    <input type="text" class="search-field location" name="Postcode" placeholder="Postcode">
    <input type="text" class="search-field item-type" name="ItemType" placeholder="Item Type">
    <button class="search-btn" type="button">Search</button>
</form> 
