@inherits UmbracoViewPage<IEnumerable<TreasureRoom.Models.dbo_LostItems>>

@using (Html.BeginUmbracoForm("SubmitForm", "SearchSurface", FormMethod.Get))
{
    <table>
        <thead>
            <tr>

                <th>Description</th>
                <th>Postcode
                <th>
                <th>Item Type</th>
            </tr>
        </thead>
        <tbody>
        @if (!Model.Equals(null))
        {
            <tr>
                <td colspan="3" style="color: red">
                    No match found
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Description</td>
                    <td>@item.Postcode</td>
                    <td>@item.ItemType</td>
                </tr>
            }
        }
        </tbody>
    </table>
}
