@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;

<section id="testimonials">
    <div class="container">
        <div class="title text-center">@Model.TestimonialsHeader</div>
        <div class="testimonials-sub-heading">
            @Model.TestimonialsSubHeading
        </div>
        <div class="row">
            <div class="col-md-5 testimonials">
                @Model.AryanDangText
                <img src="/images/AryanDang.jpeg">
                <p class="user-details"><b>Aryan Dang</b><br>Founder</p>
            </div>
        </div>
    </div>
</section>
