@inherits Umbraco.Web.Mvc.UmbracoViewPage<TreasureRoom.Models.HomeContentModel>
<!-- Testimonials -->
<section id="testimonials">
    <div class="container">
        <h1 class="title text-center">WHAT CLIENTS SAY</h1>
        <div class="row">
            <div class="col-md-5 testimonials">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
                <img src="images/AryanDang.jpeg">
                <p class="user-details"><b>Aryan Dang</b><br>Founder</p>
            </div>
        </div>
    </div>
</section>
